In [22]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import re

In [76]:
def scrape_data():
    
    url = 'https://www.pgatour.com/tournaments/2024/masters-tournament/R2024014/past-results'
    response = requests.get(url)

    print("HTTP Response Status Code:", response.status_code)

    soup = BeautifulSoup(response.content, 'html.parser')

    print("HTML Content (first 200 characters):", soup.prettify()[:200])

    table = soup.find('table', class_='chakra-table')
    # Check if the table was found
    if table:
        print("Table found!")

    data = []
    headers = []

    for row in table.find_all('tr'):
        cols = row.find_all(['th', 'td'])
        if not headers:
            headers = [header.text.strip() for header in cols]
        else:
            row_data = [col.text.strip() for col in cols]
            data.append(row_data)

    # Print the headers and a sample row to verify the data
    print("Headers:", headers)
    if data:
        print("Sample Row:", data[0])

    df = pd.DataFrame(data, columns=headers)

    return df

In [77]:
df = scrape_data()

HTTP Response Status Code: 200
HTML Content (first 200 characters): <!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width" name="viewport"/>
  <title>
   Masters Tournament 2024 Golf Leaderboard - PGA TOUR - Past Result
Table found!
Headers: ['Pos', 'Player', 'R1', 'R2', 'R3', 'R4', 'To Par', 'FedExCup Pts', 'Official Money']
Sample Row: ['1', 'Jon Rahm', '-7', '-3', '+1', '-3', '-12', '600.00', '$3,240,000']

In [78]:
df.head(50)

,Pos,Player,R1,R2,R3,R4,To Par,FedExCup Pts,Official Money
0,1,Jon Rahm,-7,-3,+1,-3,-12,600.00,"$3,240,000"
1,T2,Phil Mickelson,-1,-3,+3,-7,-8,0.00,"$1,584,000"
2,T2,Brooks Koepka,-7,-5,+1,+3,-8,0.00,"$1,584,000"
3,T4,Jordan Spieth,-3,-2,+4,-6,-7,126.667,"$744,000"
4,T4,Patrick Reed,-1,-2,E,-4,-7,0.00,"$744,000"
5,,None,None,None,None,None,None,None,None
6,T4,Russell Henley,+1,-5,-1,-2,-7,126.667,"$744,000"
7,T7,Cameron Young,-5,E,+3,-4,-6,97.00,"$580,500"
8,T7,Viktor Hovland,-7,+1,-2,+2,-6,97.00,"$580,500"
9,9,Sahith Theegala,+1,-2,+1,-5,-5,88.00,"$522,000"
10,T10,Scottie Scheffler,-4,+3,-1,-2,-4,74.75,"$432,000"
11,T10,Matt Fitzpatrick,-2,E,E,-2,-4,74.75,"$432,000"
12,T10,Xander Schauffele,-4,+2,-1,-1,-4,74.75,"$432,000"
13,T10,Collin Morikawa,-3,-3,+2,E,-4,74.75,"$432,000"
14,T14,Gary Woodland,-4,E,+1,E,-3,62.50,"$333,000"
15,T14,Patrick Cantlay,-1,-1,-4,+3,-3,62.50,"$333,000"
16,T16,Tom Kim,-2,E,+2,-2,-2,52.886,"$261,000"
17,T16,Sungjae Im,-1,+4,-5,E,-2,52.886,"$261,000"
18,T16,Joaquin Niemann,-1,-3,+2,E,-2,0.00,"$261,000"
19,T16,Justin Rose,-3,-1,+1,+1,-2,52.886,"$261,000"
20,T16,Shane Lowry,-4,E,+1,+1,-2,52.886,"$261,000"
21,T16,Sam Bennett(a),-4,-4,+4,+2,-2,0.00,$0
22,T16,Hideki Matsuyama,-1,-2,-2,+3,-2,52.886,"$261,000"
23,T23,Keegan Bradley,-2,E,+2,-1,-1,42.122,"$187,200"
24,T23,Chris Kirk,-2,+2,E,-1,-1,42.122,"$187,200"
25,T23,K.H. Lee,+2,-5,+2,E,-1,42.122,"$187,200"
26,,None,None,None,None,None,None,None,None
27,T26,Tony Finau,-3,+2,+1,E,E,36.833,"$147,000"
28,T26,Scott Stallings,-2,+5,-3,E,E,36.833,"$147,000"
29,T26,Ryan Fox,-2,-1,+2,+1,E,0.00,"$147,000"
30,T29,Si Woo Kim,+1,E,E,E,+1,30.883,"$125,100"
31,T29,Sam Burns,-4,-1,+6,E,+1,30.883,"$125,100"
32,T29,Harold Varner III,E,-1,+4,-2,+1,0.00,"$125,100"
33,T29,Mackenzie Hughes,+4,-3,+2,-2,+1,30.883,"$125,100"
34,33,Tommy Fleetwood,E,-1,+2,+2,+3,26.633,"$111,600"
35,T34,Tyrrell Hatton,-1,+1,E,+4,+4,22.667,"$97,200"
36,T34,Cameron Smith,-2,E,+3,+3,+4,0.00,"$97,200"
37,T34,Zach Johnson,+3,-2,+2,+1,+4,22.667,"$97,200"
38,T34,Talor Gooch,E,+2,+1,+1,+4,0.00,"$97,200"
39,T34,J.T. Poston,+2,E,+4,-2,+4,22.667,"$97,200"
40,T39,Taylor Moore,+1,E,-2,+6,+5,17.567,"$79,200"
41,T39,Abraham Ancer,E,-1,+2,+4,+5,0.00,"$79,200"
42,T39,Adam Scott,-4,+2,+5,+2,+5,17.567,"$79,200"
43,T39,Jason Day,-5,E,+2,+8,+5,17.567,"$79,200"
44,T43,Max Homa,-1,+1,E,+6,+6,13.60,"$66,600"
45,T43,Harris English,-1,-1,+5,+3,+6,13.60,"$66,600"
46,T43,Mito Pereira,+2,-2,+5,+1,+6,13.60,"$66,600"
47,T46,Sepp Straka,-2,+1,+2,+6,+7,11.617,"$57,600"
48,T46,Seamus Power,+1,E,+1,+5,+7,11.617,"$57,600"
49,T48,Thomas Pieters,+2,+1,E,+5,+8,0.00,"$50,760"

In [79]:
# cleaning 
df.drop(columns=['FedExCup Pts','Official Money'], inplace=True)
df['Index'] = df.index
df.set_index('Index', inplace=True)
df['Player'] = df['Player'].str.replace(' \(a\)', '', regex=True)

def is_non_numeric_or_blank(s):
    return not bool(re.match(r'^\+?-?\d*\.?\d*$', str(s)))

columns_to_check = ['R1', 'R2', 'R3', 'R4', 'To Par']

# Convert non-numeric or blank values to '0'
for col in columns_to_check:
    df[col] = df[col].apply(lambda x: '0' if pd.isna(x) or is_non_numeric_or_blank(x) else x)

# Convert string representations of columns to integers if they represent numbers
scraped_data = df
for index, row in scraped_data.iterrows():
    for col in columns_to_check:
        val = row[col]
        if val.startswith('+'):
            val = int(val[1:])  # Convert to positive integer
        elif val.startswith('-'):
            val = -int(val[1:])  # Convert to negative integer
        else:
            val = 0  # Set to 0 for non-numeric or blank values
            
        # Update the value back to the DataFrame
        df.at[index, col] = val

ValueError: invalid literal for int() with base 10: ''

In [82]:
df.head(50)

       Pos             Player  R1  R2  R3  R4 To Par
Index
0        1           Jon Rahm  -7  -3   1  -3    -12
1       T2     Phil Mickelson  -1  -3   3  -7     -8
2       T2      Brooks Koepka  -7  -5   1   3     -8
3       T4      Jordan Spieth  -3  -2   4  -6     -7
4       T4       Patrick Reed  -1  -2   0  -4     -7
5                        None   0   0   0   0      0
6       T4     Russell Henley   1  -5  -1  -2     -7
7       T7      Cameron Young  -5   0   3  -4     -6
8       T7     Viktor Hovland  -7   1  -2   2     -6
9        9    Sahith Theegala   1  -2   1  -5     -5
10     T10  Scottie Scheffler  -4   3  -1  -2     -4
11     T10   Matt Fitzpatrick  -2   0   0  -2     -4
12     T10  Xander Schauffele  -4   2  -1  -1     -4
13     T10    Collin Morikawa  -3  -3   2   0     -4
14     T14      Gary Woodland  -4   0   1   0     -3
15     T14    Patrick Cantlay  -1  -1  -4   3     -3
16     T16            Tom Kim  -2   0   2  -2     -2
17     T16         Sungjae Im  -1   4  -5   0     -2
18     T16    Joaquin Niemann  -1  -3   2   0     -2
19     T16        Justin Rose  -3  -1   1   1     -2
20     T16        Shane Lowry  -4   0   1   1     -2
21     T16     Sam Bennett(a)  -4  -4   4   2     -2
22     T16   Hideki Matsuyama  -1  -2  -2   3     -2
23     T23     Keegan Bradley  -2   0   2  -1     -1
24     T23         Chris Kirk  -2   2   0  -1     -1
25     T23           K.H. Lee   2  -5   2   0     -1
26                       None   0   0   0   0      0
27     T26         Tony Finau  -3   2   1   0      0
28     T26    Scott Stallings  -2   5  -3   0      0
29     T26           Ryan Fox  -2  -1   2   1      0
30     T29         Si Woo Kim   1   0   0   0      1
31     T29          Sam Burns  -4  -1   6   0      1
32     T29  Harold Varner III   0  -1   4  -2      1
33     T29   Mackenzie Hughes   4  -3   2  -2      1
34      33    Tommy Fleetwood   0  -1   2   2      3
35     T34     Tyrrell Hatton  -1   1   0   4      4
36     T34      Cameron Smith  -2   0   3   3      4
37     T34       Zach Johnson   3  -2   2   1      4
38     T34        Talor Gooch   0   2   1   1      4
39     T34        J.T. Poston   2   0   4  -2      4
40     T39       Taylor Moore   1   0  -2   6      5
41     T39      Abraham Ancer   0  -1   2   4      5
42     T39         Adam Scott  -4   2   5   2      5
43     T39          Jason Day  -5   0   2   8      5
44     T43           Max Homa  -1   1   0   6      6
45     T43     Harris English  -1  -1   5   3      6
46     T43       Mito Pereira   2  -2   5   1      6
47     T46        Sepp Straka  -2   1   2   6      7
48     T46       Seamus Power   1   0   1   5      7
49     T48     Thomas Pieters   2   1   0   5      8

In [34]:
df.head(100)

       Pos            Player  R1  R2 R3  R4 To Par
Index
0        1          Jon Rahm  -7  -3  0  -3    -12
1       T2    Phil Mickelson  -1  -3  0  -7     -8
2       T2     Brooks Koepka  -7  -5  0   0     -8
3       T4     Jordan Spieth  -3  -2  0  -6     -7
4       T4      Patrick Reed  -1  -2  0  -4     -7
...    ...               ...  ..  .. ..  ..    ...
85     CUT        Sandy Lyle   0   0  0   0      0
86     W/D          Kevin Na   0   0  0   0      0
87     W/D    Will Zalatoris   0   0  0   0      0
88     W/D  Louis Oosthuizen   0   0  0   0      0
89     W/D       Tiger Woods   0   0  0   0      0

[90 rows x 7 columns]

In [28]:
##df.replace('', np.nan, inplace=True)
#df.dropna(axis=0, how='any', inplace=True)
df['Player'] = df['Player'].str.replace(' \(a\)', '', regex=True)
#df = df[~df['Pos'].str.contains('CUT')]
columns_to_replace = ['R1', 'R2', 'R3', 'R4', 'To Par']
df[columns_to_replace] = df[columns_to_replace].replace('E', '0')
columns_to_replace = ['R1', 'R2', 'R3', 'R4', 'To Par']
df[columns_to_replace] = df[columns_to_replace].fillna('0')

       Pos            Player  R1   R2  R3  R4 To Par
Index
0        1          Jon Rahm  -7   -3  +1  -3    -12
1       T2    Phil Mickelson  -1   -3  +3  -7     -8
2       T2     Brooks Koepka  -7   -5  +1  +3     -8
3       T4     Jordan Spieth  -3   -2  +4  -6     -7
4       T4      Patrick Reed  -1   -2   0  -4     -7
...    ...               ...  ..  ...  ..  ..    ...
85     CUT        Sandy Lyle  +9  +11   0   0    +20
86     W/D          Kevin Na   -    0   0   0    NaN
87     W/D    Will Zalatoris   -    0   0   0    NaN
88     W/D  Louis Oosthuizen  +4    0   0   0     +4
89     W/D       Tiger Woods  +2   +1   0   0     +3

[90 rows x 7 columns]

In [30]:
players = df
players['id'] = players['Player'].str.replace(' ', '').str.upper()
df.drop(columns=['Pos','R1','R2','R3','R4','To Par'], inplace=True)
players.head()
players.to_csv("players.csv")

SyntaxError: EOF while scanning triple-quoted string literal (390595961.py, line 6)

In [4]:
players = pd.read_csv('app/players_tiered.csv')
players.head()

   Unnamed: 0             Golfer Rank  Odds  Tier
0           2  Scottie Scheffler    1   7/1     1
1           3       Rory McIlroy    2   7/1     1
2           5     Viktor Hovland    4  35/1     1
3           6    Patrick Cantlay    5  18/1     1
4          14      Jordan Spieth   14  16/1     1

In [22]:
# Sort the DataFrame by the 'Rank' column in ascending order
df = df.sort_values(by='Rank')

# Calculate the number of players in each tier
num_players = len(df)
players_per_tier = num_players // 6

# Create a Tier column
df['Tier'] = (df.index // players_per_tier) + 1

# Reset the index to start from 1
df.index = df.index + 1

df = df.sort_values(by='Tier', ascending=True)

# Display the DataFrame
df.head(30)

               Golfer Rank   Odds  Tier
2   Scottie Scheffler    1    7/1     1
3        Rory McIlroy    2    7/1     1
5      Viktor Hovland    4   35/1     1
6     Patrick Cantlay    5   18/1     1
14      Jordan Spieth   14   16/1     1
7   Xander Schauffele    6   22/1     1
4            Jon Rahm    3    9/1     1
12    Collin Morikawa   12   22/1     1
10       Brian Harman    9  130/1     1
13     Tyrrell Hatton   13   50/1     1
11            Tom Kim   11   70/1     1
9            Max Homa    8   25/1     1
8    Matt Fitzpatrick    7   40/1     1
25         Sungjae Im   26   35/1     2
24     Russell Henley   25  130/1     2
23        Sepp Straka   23  300/1     2
22         Tony Finau   22   20/1     2
21          Jason Day   21   22/1     2
20          Sam Burns   20   35/1     2
15    Tommy Fleetwood   15   50/1     2
28    Sahith Theegala   29  110/1     2
18      Brooks Koepka   18   35/1     2
17      Cameron Young   17   28/1     2
26           Ryan Fox   27  130/1     2
16     Keegan Bradley   16  110/1     2
19      Cameron Smith   19   22/1     2
27      Justin Thomas   28   20/1     2
36         Si Woo Kim   41   90/1     3
35        J.T. Poston   40  250/1     3
39      Adrian Meronk   46  250/1     3

In [19]:


# Reset the index if you want to reindex the DataFrame
#df = df.reset_index(drop=True)

In [20]:
df.head(100)

               Golfer  Rank    Odds  Tier
1   Scottie Scheffler     1     7/1     1
3            Jon Rahm     3     9/1     1
2        Rory McIlroy     2     7/1     1
5     Patrick Cantlay     5    18/1     1
14    Tommy Fleetwood    15    50/1     1
..                ...   ...     ...   ...
82         Larry Mize  >200  5000/1     6
74  Aldrich Potgieter  >200  2500/1     6
72     Gordon Sargent  >200  1000/1     6
73        Sam Bennett  >200  2000/1     6
84        Vijay Singh  >200  5000/1     6

[84 rows x 4 columns]

In [24]:
df.to_csv("app/static/players_tiered.csv")