In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [20]:
def scrape_data():
    
    url = 'https://www.pgatour.com/tournaments/2024/masters-tournament/R2024014/past-results'
    response = requests.get(url)

    print("HTTP Response Status Code:", response.status_code)

    soup = BeautifulSoup(response.content, 'html.parser')

    print("HTML Content (first 200 characters):", soup.prettify()[:200])

    table = soup.find('table', class_='chakra-table')
    # Check if the table was found
    if table:
        print("Table found!")

    data = []
    headers = []

    for row in table.find_all('tr'):
        cols = row.find_all(['th', 'td'])
        if not headers:
            headers = [header.text.strip() for header in cols]
        else:
            row_data = [col.text.strip() for col in cols]
            data.append(row_data)

    # Print the headers and a sample row to verify the data
    print("Headers:", headers)
    if data:
        print("Sample Row:", data[0])

    df = pd.DataFrame(data, columns=headers)

    return df

In [21]:
df = scrape_data()

HTTP Response Status Code: 200
HTML Content (first 200 characters): <!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width" name="viewport"/>
  <title>
   Masters Tournament 2024 Golf Leaderboard - PGA TOUR - Past Result
Table found!
Headers: ['Pos', 'Player', 'R1', 'R2', 'R3', 'R4', 'To Par', 'FedExCup Pts', 'Official Money']
Sample Row: ['1', 'Jon Rahm', '-7', '-3', '+1', '-3', '-12', '600.00', '$3,240,000']

In [22]:
# clean
df.drop(columns=['FedExCup Pts','Official Money'], inplace=True)
df['Index'] = df.index
df.set_index('Index', inplace=True)
#df = df[df['Player'] != 'None']
df['id'] = df['Player'].str.replace(' ', '').str.upper()

In [23]:
df.head(10)

      Pos           Player    R1    R2    R3    R4 To Par              id
Index
0       1         Jon Rahm    -7    -3    +1    -3    -12         JONRAHM
1      T2   Phil Mickelson    -1    -3    +3    -7     -8   PHILMICKELSON
2      T2    Brooks Koepka    -7    -5    +1    +3     -8    BROOKSKOEPKA
3      T4    Jordan Spieth    -3    -2    +4    -6     -7    JORDANSPIETH
4      T4     Patrick Reed    -1    -2     E    -4     -7     PATRICKREED
5                     None  None  None  None  None   None            None
6      T4   Russell Henley    +1    -5    -1    -2     -7   RUSSELLHENLEY
7      T7    Cameron Young    -5     E    +3    -4     -6    CAMERONYOUNG
8      T7   Viktor Hovland    -7    +1    -2    +2     -6   VIKTORHOVLAND
9       9  Sahith Theegala    +1    -2    +1    -5     -5  SAHITHTHEEGALA

In [30]:
players = df
players['id'] = players['Player'].str.replace(' ', '').str.upper()
df.drop(columns=['Pos','R1','R2','R3','R4','To Par'], inplace=True)
players.head()
players.to_csv("players.csv")

SyntaxError: EOF while scanning triple-quoted string literal (390595961.py, line 6)

In [21]:
players = pd.read_csv('app/static/players.csv')
players.head()

              Golfer Rank  Odds
0  Scottie Scheffler    1   7/1
1       Rory McIlroy    2   7/1
2           Jon Rahm    3   9/1
3     Viktor Hovland    4  35/1
4    Patrick Cantlay    5  18/1

In [22]:
# Sort the DataFrame by the 'Rank' column in ascending order
df = df.sort_values(by='Rank')

# Calculate the number of players in each tier
num_players = len(df)
players_per_tier = num_players // 6

# Create a Tier column
df['Tier'] = (df.index // players_per_tier) + 1

# Reset the index to start from 1
df.index = df.index + 1

df = df.sort_values(by='Tier', ascending=True)

# Display the DataFrame
df.head(30)

               Golfer Rank   Odds  Tier
2   Scottie Scheffler    1    7/1     1
3        Rory McIlroy    2    7/1     1
5      Viktor Hovland    4   35/1     1
6     Patrick Cantlay    5   18/1     1
14      Jordan Spieth   14   16/1     1
7   Xander Schauffele    6   22/1     1
4            Jon Rahm    3    9/1     1
12    Collin Morikawa   12   22/1     1
10       Brian Harman    9  130/1     1
13     Tyrrell Hatton   13   50/1     1
11            Tom Kim   11   70/1     1
9            Max Homa    8   25/1     1
8    Matt Fitzpatrick    7   40/1     1
25         Sungjae Im   26   35/1     2
24     Russell Henley   25  130/1     2
23        Sepp Straka   23  300/1     2
22         Tony Finau   22   20/1     2
21          Jason Day   21   22/1     2
20          Sam Burns   20   35/1     2
15    Tommy Fleetwood   15   50/1     2
28    Sahith Theegala   29  110/1     2
18      Brooks Koepka   18   35/1     2
17      Cameron Young   17   28/1     2
26           Ryan Fox   27  130/1     2
16     Keegan Bradley   16  110/1     2
19      Cameron Smith   19   22/1     2
27      Justin Thomas   28   20/1     2
36         Si Woo Kim   41   90/1     3
35        J.T. Poston   40  250/1     3
39      Adrian Meronk   46  250/1     3

In [19]:


# Reset the index if you want to reindex the DataFrame
#df = df.reset_index(drop=True)

In [20]:
df.head(100)

               Golfer  Rank    Odds  Tier
1   Scottie Scheffler     1     7/1     1
3            Jon Rahm     3     9/1     1
2        Rory McIlroy     2     7/1     1
5     Patrick Cantlay     5    18/1     1
14    Tommy Fleetwood    15    50/1     1
..                ...   ...     ...   ...
82         Larry Mize  >200  5000/1     6
74  Aldrich Potgieter  >200  2500/1     6
72     Gordon Sargent  >200  1000/1     6
73        Sam Bennett  >200  2000/1     6
84        Vijay Singh  >200  5000/1     6

[84 rows x 4 columns]

In [24]:
df.to_csv("app/static/players_tiered.csv")